.subscribe-button{
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;    
  transition: 0.15s;
  margin-right: 20px;
  margin-left: 20px;
}

.subscribe-button:hover{
  opacity: 0.6;
}
.join-button1{
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  height: 40px;
  width: 70px;
  color: rgb(6, 95, 212);
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  vertical-align: top;

}
.join-button1:hover{
  background-color: rgb(6, 95, 212) ;
  color: white;
}
.join-button2{
  background-color: rgb(6, 95, 212);;
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.15s ease;

}
.join-button2:hover{
  background-color: white;
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  border-width: 2px;
  border-radius: 6px;
 
}
.tweet-button{
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  height: 35px;
  width: 80px;
  border-radius: 18px;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
  transition:  0.15s ease;
}

.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.strech-button{
  background-color: rgb(29, 155, 240);
  border: none;
  color: white;
  vertical-align: top;
  margin-left: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 2px;
  transition: 0.3s ease;
  cursor: pointer;
}
.strech-button:hover{
  padding: 20px 40px;
}